/*
#sekcja2{
    display: none;
    background-color:orange;
     width:300px;
    padding-top:20px;
    padding-bottom:20px;
    margin-left:20px;
    padding-right:20px;
    padding-left: 20px;
    border: 2px dashed gray;
    
}
#przycisk2{
    width: 300px;
    text-align: center
}
#start{
    height: 30px;
    width:205px;
    background-color: azure;
    border:2px dashed gray;
}
#end{
    height: 30px;
    width:220px;
    background-color: azure;
    border:2px dashed gray;
}
#przycisk1{
    width: 253px;
    margin-top:10px;
    height: 40px;
}
#sekcja1 span #starts{
    margin-right:20px;
}
#starte{
    
}
#sekcja1 {
    background-color:aquamarine;
    width:300px;
    padding-top:20px;
    padding-bottom:20px;
    margin-left:20px;
    padding-left:20px;
}
#przycisk3{
     width:300px;
    padding-top:20px;
    padding-bottom:20px;
   
    padding-left:20px;
    padding-right: 20px;
}*/
