<!DOCTYPE html>
<html ng-app="webapp">

<head>
    <title>Połączenie HTTP - angularjs</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div ng-controller="mainController">
        <p ng-repeat="subject in subjects">
            <span ng-hide="subject.id == actualEditId" 
                  ng-dbclick="edit(subject)">
                {{subject.name}}
            </span>
            
            <input type="text" ng-model="subject.name" ng-show="subject.id == actualEditId"  
            ng-keyup="tryEdit($event.keyCode, subject)">
       
        </p>
    </div>
    <div ng-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.5/angular-route.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
